@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
:root {
  --bg-color: rgba(255, 255, 255, 0.2);
  --border-radius: 5px;
  --border: solid 1px rgba(255, 255, 255, 0.05);
  --blur: blur(20px);
}
body {
  background-image: url('../img/background.jpg');
  font-family: 'Montserrat', sans-serif;
}
.card {
  background-color: var(--bg-color);
  width: 70%;
  backdrop-filter: var(--blur);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 100px auto;
  box-shadow: 0 10px 20px 5px var(--bg-color);
  display: flex;
  overflow: hidden;
}
.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px;
}
.sidebar h2 {
  font-weight: 700;
}
.sidebar ul {
  padding: 0;
  margin: 20px 0;
  list-style: none;
  text-align: left;
}
.sidebar ul li a {
  color: #f3f3f3;
  display: block;
  text-decoration: none;
  padding: 12px 10px;
  font-weight: 100;
}
.sidebar ul li a:hover {
  font-weight: 400;
  background-color: rgb(136, 98, 154);
  border-radius: var(--border-radius);
  box-shadow: 0 5px 10px 2px rgba(51, 5, 87, 0.178);
}
.profile img {
  border-radius: 20%;
  width: 50%;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}
main {
  padding: 20px;
  width: 70%;
}
.header h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 50px;
}
.header span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
  display: block;
}
.card-body {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0 20px 0; 
  overflow: hidden;
  border: var(--border);
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15);
}
.card-body .content {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px;
}
.card-body .left {
  padding-right: 15px;
}
.card-body .right {
  width: 100%;
}
.card-body .right .status {
  padding: 5px 0;
  font-size: 14px;
  color: #333333;
}
.card-body .right .progress {
  background-color: #f3f3f3;
  width: 100%;
  height: 10px;
  border-radius: var(--border-radius);
}
.card-body .right .progress .fill {
  height: 10px;
  margin: 10px 0;
}
.card-body .right .progress .fill.fill-20 {
  background-color: rgb(100, 74, 198);
  width: 20%;
  border-radius: var(--border-radius);
}
.card-body .right .progress .fill.fill-50 {
  background-color: rgb(35, 54, 156);
  width: 50%;
  border-radius: var(--border-radius);
}
.card-body .right .progress .fill.fill-100 {
  background-color: rgb(227, 164, 172);
  width: 100%;
  border-radius: var(--border-radius);
}
.card-body .button {
  backdrop-filter: 10px;
  text-align: right;
  padding: 10px;
}
.btn {
  background-color: rgb(136, 98, 154);
  border: none;
  font-weight: 700;
  color: #f3f3f3;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  outline: none;
}
.btn:hover {
  box-shadow: 0 5px 10px 2px rgba(51, 5, 87, 0.178);
  transition: all 0.2s;
}